body {
  font-family: "Courier New", monospace;
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

header h1 {
  color: #f66b7a;
  font-family: "Bungee Shade";
  font-size: 3rem;
  padding: 1px;
}

nav {
  border-top: 3px solid #f67c89;
  border-bottom: 3px solid #f67c89;
  font-size: 0.95rem;
  padding: 12px;
  text-align: left;
}

nav a {
  padding: 15px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  border-top: 3px solid #f67c89;
  color: #f55667;
  font-size: 1.15rem;
  line-height: 0.9rem;
  text-align: center;
  width: 100%;
}
