@font-face {
  font-family: 'Bungee Shade'; /* Line spacing too big on Windows */
  src: url('Bungee-Shade.eot');
  src: url('Bungee-Shade.eot?#iefix') format('embedded-opentype'),
       url('Bungee-Shade.woff2') format('woff2'),
       url('Bungee-Shade.woff') format('woff');
}

html {
  font-family: "Courier New", monospace;
  font-size: 17px;
  text-align: center;
  line-height: 1; /* Trying to fix Windows Webfont issue spacing issue */
  float: left; /* Trying to fix Windows Webfont issue spacing issue */
  width: 100%; /* Trying to fix Windows Webfont issue spacing issue */
}

header h1 {
  position: relative;
  right: 5px;
  color: #f66b7a;
  font-family: "Bungee Shade";
  font-size: 3rem;
  line-height: 1.63em;
}

#title {
  border: 5px dashed #43c4d1;
  border-radius: 13px;
  padding: 10px 25px 15px 30px;
}

nav {
  background-color: #ffe0e4;
  border-top: 3px solid #ffe0e4;
  border-bottom: 3px dashed white;
  font-size: 0.95rem;
  padding: 12px;
  text-align: left;
}

nav a {
  color: #036c75;
  padding: 15px;
}

nav a:visited {
  color: #d05764;
}

nav a:hover {
  color: white;
  font-weight: bold;
}

nav a:active {
  position: relative;
  top: 2px;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #ffe0e4;
  border-top: 3px dashed white;
  color: #f66b7a;
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 0.9rem;
  text-align: center;
  width: 100%;
}
